src/main/resources/xml3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ACORD.org/standards/Jv-Ins-Reinsurance/1"
           xmlns:ac="http://www.ACORD.org/Standards/AcordMsgSvc/1" targetNamespace="http://www.ACORD.org/standards/Jv-Ins-Reinsurance/1"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="2014-06">
    <xs:import namespace="http://www.ACORD.org/Standards/AcordMsgSvc/1" schemaLocation="Acord-Repository_v-1-3-0-RLC-Slice.xsd"/>
    <!---->
    <!--******************************************************-->
    <!--Start of Jv-Ins-Reinsurance base data types -->
    <!--******************************************************-->
    <!--Character is equated to the xs:string Schema base type-->
    <!--URL is equated to the xs:anyURI Schema base type-->
    <!--Attributes are validated against the xs:NMTOKEN Schema base type-->
    <xs:complexType name="DateTimeType">
        <xs:annotation>
            <xs:documentation>based on FlexibleDateTime2_Type</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="FlexibleDateTime2_Type">
                <xs:attribute name="TimeZone" type="TimeZoneType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="FlexibleDate_Type">
        <xs:annotation>
            <xs:documentation>JAG type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
    </xs:simpleType>
    <xs:simpleType name="FlexibleDate1_Type">
        <xs:annotation>
            <xs:documentation>JAG type restriction 1 : Year only not admitted - Default in RLC</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="FlexibleDateTime_Type">
        <xs:annotation>
            <xs:documentation>JAG type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:dateTime xs:gYearMonth xs:gYear"/>
    </xs:simpleType>
    <xs:simpleType name="FlexibleDateTime1_Type">
        <xs:annotation>
            <xs:documentation>JAG type restriction 1 : Year only not admitted</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:dateTime xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="FlexibleDateTime2_Type">
        <xs:annotation>
            <xs:documentation>JAG type restriction 2 : Year only and YearMonth only not admitted- Default in RLC</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="StartDateType">
        <xs:simpleContent>
            <xs:extension base="FlexibleDate1_Type">
                <xs:attribute name="DateIndicator" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EndDateType">
        <xs:simpleContent>
            <xs:extension base="FlexibleDate1_Type">
                <xs:attribute name="DateIndicator" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StartDateTimeType">
        <xs:annotation>
            <xs:documentation>based on DateTimeType</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="DateTimeType">
                <xs:attribute name="DateIndicator" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EndDateTimeType">
        <xs:annotation>
            <xs:documentation>based on DateTimeType</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="DateTimeType">
                <xs:attribute name="DateIndicator" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="DecType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AnyDecType">
        <xs:sequence>
            <xs:element ref="Dec"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmtType">
        <xs:simpleContent>
            <xs:extension base="DecType">
                <xs:attribute name="Ccy" type="xs:NMTOKEN" use="required"/>
                <xs:attribute name="Share">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="cedent_share"/>
                            <xs:enumeration value="contract_ceded"/>
                            <xs:enumeration value="hundred_percent"/>
                            <xs:enumeration value="receiver_share"/>
                            <xs:enumeration value="reinsurer_share"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="CcyIndic">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="reference_currency"/>
                            <xs:enumeration value="target_currency"/>
                            <xs:enumeration value="original_currency"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyAmtType">
        <xs:sequence>
            <xs:element ref="Amt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnyAmtsType">
        <xs:sequence>
            <xs:element ref="Amt" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType">
        <xs:simpleContent>
            <xs:extension base="DecType">
                <xs:attribute name="RateUnit" type="xs:NMTOKEN" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyRateType">
        <xs:sequence>
            <xs:element ref="Rate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountType">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>
    <xs:complexType name="AnyCountType">
        <xs:sequence>
            <xs:element ref="Count"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnyCountDecType">
        <xs:annotation>
            <xs:documentation>Introduced for backward compatibility purpose when an element is transformed from integer to decimal</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element ref="Count"/>
                <xs:element ref="Dec"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeDurationType">
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attribute name="PeriodType" type="xs:NMTOKEN"/>
                <xs:attribute name="PeriodIndicator" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyTimeDurationType">
        <xs:sequence>
            <xs:element ref="TimeDuration"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PeriodNbrType">
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attribute name="PeriodIndicator" type="xs:NMTOKEN" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyPeriodNbrType">
        <xs:sequence>
            <xs:element ref="PeriodNbr"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NarrowCharacterType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[\p{IsBasicLatin}]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EnumType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgencyEnumType">
        <xs:simpleContent>
            <xs:extension base="EnumType">
                <xs:attribute name="Agency" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AgencyListEnumType">
        <xs:simpleContent>
            <xs:extension base="EnumType">
                <xs:attribute name="Agency" type="xs:NMTOKEN"/>
                <xs:attribute name="List" type="xs:NMTOKEN"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="JVCodeType">
        <xs:restriction base="NarrowCharacterType">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UUIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--**************************************************************-->
    <!--End of Jv-Ins-Reinsurance base data types-->
    <!--****************************************************************-->
    <!--Start of Jv-Ins-Reinsurance aggregate and simple type definitions-->
    <!--****************************************************************-->
    <xs:simpleType name="AccountingBasisType">
        <xs:restriction base="EnumType"/>
    </xs:simpleType>
    <xs:simpleType name="AccountingLevelType">
        <xs:restriction base="EnumType"/>
    </xs:simpleType>
    <xs:complexType name="AccountPeriodType">
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="StartDate" minOccurs="0"/>
            <xs:element ref="EndDate" minOccurs="0"/>
            <xs:element ref="PeriodNbr" minOccurs="0"/>
            <xs:element name="Extension" type="AccountPeriod_ExtensionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountReportingType">
        <xs:complexContent>
            <xs:extension base="AnyReportingType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="AccountTransactionType_Type">
        <xs:restriction base="EnumType"/>
    </xs:simpleType>
    <xs:simpleType name="Acknowledge...